.application_logo {
    width: 275px;
    height: 83px;
    object-fit: cover;
}
.spice-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  position: relative;
}

.spice-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid var(--border-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
