.application_logo {
    width: 275px;
    height: 83px;
    object-fit: cover;
}
.spice-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  position: relative;
}

.spice-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid var(--border-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* smoke css */
/* ================= SPICE SMOKE EFFECT ================= */

.spice-label {
  position: relative;
}

/* smoke base */
.smoke {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: rgba(120, 120, 120, 0.4);
  border-radius: 50%;
  animation: smokeRise 1.5s infinite ease-in-out;
}

/* Normal */
.smoke-normal .smoke {
  animation-duration: 2s;
  opacity: 0.4;
}

/* Medium */
.smoke-medium .smoke {
  width: 8px;
  height: 8px;
  opacity: 0.6;
  animation-duration: 1.4s;
}

/* Spicy */
.smoke-spicy .smoke {
  width: 12px;
  height: 12px;
  opacity: 0.8;
  animation-duration: 1s;
}

/* Smoke animation */
@keyframes smokeRise {
  0% {
    transform: translate(-50%, 0) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50%, -12px) scale(1.3);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -25px) scale(1.6);
    opacity: 0;
  }
}
/* // progreessbar css */
.progress-shimmer {
  background: linear-gradient(
    90deg,
    var(--progress-color) 25%,
    rgba(255,255,255,0.4) 37%,
    var(--progress-color) 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}
@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}